<h1>Listing books</h1>
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cover</th>
      <th><%= sortable "title" %></th>
      <th><%= sortable "author" %></th>
      <th><%= sortable "rating" %></th>
      <th><%= sortable "isbn" %></th>
      <th><%= sortable "approved" %></th>
      <th><%= sortable "active" %></th>
      <th><%= sortable "following" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book.each do |book| %>
      <tr>
        <td><%= image_tag book.cover_url(:thumb) if book.cover? %></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.rating %></td>
        <td><%= book.isbn %></td>
        <td><%= book.approved %></td>
        <td><%= book.active %></td>
        <td><%= book.following %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @book %>
<br>

<%= link_to 'New Book', new_book_path %>
